 <!-- header -->
 <header class = "header" id = "header">
    <div class = "head-top">
        <div class = "site-name">
            <span>GEEKPROBIN</span>
        </div>
        <div class = "site-nav">
            <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
        </div>
    </div>
</header>
<!-- end of header -->

<!-- side navbar -->
<div class = "sidenav" id = "sidenav">
    <span class = "cancel-btn" id = "cancel-btn">
        <i class = "fas fa-times"></i>
    </span>
    <h2 id="welcomeUserMessage"></h2>
    <ul class = "navbar">
        <li><a href = "#header">home</a></li>
        <li><a href = "#services">services</a></li>
        <li><a href = "#rooms">rooms</a></li>
        <li><a href = "#customers">customers</a></li>
    </ul>
    <button class = "btn sign-up" id="open-signup">sign up</button>
    <button class = "btn log-in" id="open-login">log in</button>
    <button class="btn logout" id="logoutBtn">logout</button>
</div>
