<%- include('includes/head') %>
<%- include('includes/header') %>
    <div class="loginFormWrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 offset-md-4 pt-5 pb-5">
                    <h3>Login</h3>
                    <form action="#" id="loginForm">
                        <input class="form-control" type="email" name="emailId" id="emailId" placeholder="Email">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                        <input class="btn btn-primary d-block" type="submit" value="Submit" style="padding: 1px;">
                        
                        <div class="p-3 mb-2 bg-danger text-white" id="loginPasswordErrorMsgBox">Your email id and password does not match our database, please try again</div>

                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('includes/footer') %>